---
exclude: yes
---
// fonts
@import 'https://fonts.googleapis.com/css?family=Lato|Rubik+Mono+One';
@import 'colours';

// mixins
@mixin verticalalign($alignment) {
    display: flex;
    align-items: $alignment;
}
@mixin overlay($bg-colour, $opacity) {
    background: $bg-colour;
    opacity: $opacity;
}
@mixin abst($top, $bottom, $left, $right) {
    position: absolute;
    top: $top;
    bottom: $bottom;
    left: $left;
    right: $right;
}

// global variables
$navbar-height: 50px;

// global
* {
    font-family: 'Lato', sans-serif;
}
html, body {
    overflow-x: hidden;
}
body > .container {
    padding: 60px 0;
}
img {
    max-width: 100%;
}
ul {
    list-style: none;
    padding-left: 0;
}
a {
    color: black;
    text-decoration: none !important;
}
.container {
    width: 80%;
}
::selection {
    background-color: $dark;
    color: white;
}
::-moz-selection {
    background-color: $dark;
    color: white;
}

// partials
@import 'footer';
@import 'header';
    // partials for individual pages
    @import 'index';
    @import 'default';
    @import 'contact';
    @import 'post';