.titlebar {
    @include verticalalign(center);
    height: 200px;
    background: {
        color: $dark;
        attachment: fixed;
        size: cover;
        position: center center;
    }
    padding-top: $navbar-height;
    color: $white;
    h3 {
        margin: 0;
        padding: 0;
        a {
            color: white;
            text-transform: uppercase;
        }
    }
}

body.Blog {
    .recent-blg {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        a {
            box-sizing: border-box;
        }
    }
}